body{
    text-align:center;
}
.buttons{
    background-color: rgb(238, 238, 238);
    font-size:2em;
    padding:15px 25px;
    border-radius:8px;
}
.buttons:hover{
    transition:background-color 0.5s;
    background-color: rgb(208, 208, 208);
    cursor:pointer;
}
#label{
    display:block;
    text-align: center;
    font-size:5em;
    color:brown;

}